<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur l'application de gestion du port</h1>
    <p>Cette application permet la gestion des catways, des réservations et des utilisateurs du port de plaisance de Russell.</p>
    
    <div class="buttons">
        <a href="/login" class="button">Se connecter</a>
        <a href="/api/docs" class="button">Documentation de l'API</a>
    </div>
</body>
</html>